data project/C sharp/C# How To Program - & Examples - Deitel/Examples/ch21/Fig21_18--Fig21_19/MakeReservation/Web References/localhost/Reservation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.deitel.com/csphtp1/ch21/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.deitel.com/csphtp1/ch21/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.deitel.com/csphtp1/ch21/">
      <s:element name="Reserve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="seatType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="classType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReserveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReserveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </types>
  <message name="ReserveSoapIn">
    <part name="parameters" element="s0:Reserve" />
  </message>
  <message name="ReserveSoapOut">
    <part name="parameters" element="s0:ReserveResponse" />
  </message>
  <message name="ReserveHttpGetIn">
    <part name="seatType" type="s:string" />
    <part name="classType" type="s:string" />
  </message>
  <message name="ReserveHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="ReserveHttpPostIn">
    <part name="seatType" type="s:string" />
    <part name="classType" type="s:string" />
  </message>
  <message name="ReserveHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <portType name="ReservationSoap">
    <operation name="Reserve">
      <documentation>Method to reserve seat.</documentation>
      <input message="s0:ReserveSoapIn" />
      <output message="s0:ReserveSoapOut" />
    </operation>
  </portType>
  <portType name="ReservationHttpGet">
    <operation name="Reserve">
      <documentation>Method to reserve seat.</documentation>
      <input message="s0:ReserveHttpGetIn" />
      <output message="s0:ReserveHttpGetOut" />
    </operation>
  </portType>
  <portType name="ReservationHttpPost">
    <operation name="Reserve">
      <documentation>Method to reserve seat.</documentation>
      <input message="s0:ReserveHttpPostIn" />
      <output message="s0:ReserveHttpPostOut" />
    </operation>
  </portType>
  <binding name="ReservationSoap" type="s0:ReservationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Reserve">
      <soap:operation soapAction="http://www.deitel.com/csphtp1/ch21/Reserve" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ReservationHttpGet" type="s0:ReservationHttpGet">
    <http:binding verb="GET" />
    <operation name="Reserve">
      <http:operation location="/Reserve" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="ReservationHttpPost" type="s0:ReservationHttpPost">
    <http:binding verb="POST" />
    <operation name="Reserve">
      <http:operation location="/Reserve" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Reservation">
    <documentation>Service that enables a user to reserve a seat on a plane.</documentation>
    <port name="ReservationSoap" binding="s0:ReservationSoap">
      <soap:address location="http://localhost/AirlineReservation/Reservation.asmx" />
    </port>
    <port name="ReservationHttpGet" binding="s0:ReservationHttpGet">
      <http:address location="http://localhost/AirlineReservation/Reservation.asmx" />
    </port>
    <port name="ReservationHttpPost" binding="s0:ReservationHttpPost">
      <http:address location="http://localhost/AirlineReservation/Reservation.asmx" />
    </port>
  </service>
</definitions>